{% load edc_base_extras %}

<div class="list-group" >
<a class="list-group-item"><i class="fa fa-birthday-cake fa-fw"></i>
{{ dob|date:"SHORT_DATE_FORMAT" }}
{% age_in_years dob %} yrs 
 {% if hiv_status == 'POS' %}
 	<i class="fa  fa-plus-circle  fa-fw"></i>
 {% else %}
 	{% if enrollment_hiv_status == 'NEG' %}
 		<i class="fa  fa-minus-circle  fa-fw"></i>
	 	{% else %}
	 		<i class="fa  fa-question-circle  fa-fw"></i>
	 	{% endif %}
 {% endif %}
</a>
<a class="list-group-item"><i class="far fa-address-card fa-fw"></i>
{{ identity|default:'?? identity' }} <span data-toggle="tooltip" data-placement="right" title="{{ firstname }} {{ lastname }}" class="text text-default">{{ initials }}<sup><i class="fa fa-asterisk fa-fw"></i></sup></span>
</a>
{% if rando_status %}
<a class="list-group-item">
 
  <i class="fa fa-random"></i>  {{ rando_status }}  
 	
</a>
{% endif %}

<a class="list-group-item">
	<i class="fa fa-heartbeat fa-fw"></i>
 		{{ hiv_status }}
	{% if maternal_ga %}
		&nbsp | &nbsp
		<i class="fa fa-hourglass-half fa-fw"></i>
		 {{ maternal_ga }} WEEKS
	{% endif %}
</a>
</div>