{% extends 'edc_subject_dashboard/dashboard.html' %}

{% load staticfiles %}

{% block schedule_button %}
<span class="pull-right"><span class="text test-muted">
    <a href="{% url infant_subject_dashboard_url subject_identifier=subject_identifier %}"
       role="button" class="btn btn-sm btn-primary">
        <i class="fa fa-reply fa-fw" aria-hidden="true"></i> <i class="far fa-calendar fa-fw"></i> Schedule
    </a>
</span></span>
{% endblock schedule_button %}
	            
	            
{% block locator_information %}{% endblock locator_information %}

{% block top_bar %}

    {% include "td_dashboard/infant_subject/dashboard/top_bar.html" %}

{% endblock top_bar %}


{% block side_bar %}
	{{ block.super }}
	
    <div class="panel panel-default">
      <div class="panel-heading">
          <h6 class="panel-title">
              <i class="fa fa-random fa-lg fa-fw"></i> Randomization
          </h6>
      </div>
  </div>

{% endblock side_bar %}