{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load td_dashboard_extras %}
             
{% block listboard_panel %}
    <a id="subjectscreening_add" title="add eligibility" class="btn btn-sm btn-default" role="button" 
        href="{{ subject_screening_add_url }}?next={{ screening_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Subject Screening
    </a>
    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="/">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>
{% endblock listboard_panel %}


{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Antenatal Enrollment</th>
    <th>Screening Identifier</th>
    <th>Subject Identifier</th>
    <th>Age</th>
    <th>User</th>
    <th>Modified</th>
    <th>Host</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap">
    <div class="btn-group">
    {% screening_button result %}
    {% if not result.is_eligible %}
    	{% eligibility_button result %}
    {% endif %}
    {% if result.is_eligible %}
        {% if result.consent %}
            {% dashboard_button result %}
        {% else %}
            {% consent_button result %}
        {% endif %}
    {% endif %}
    </div>
    </td>
   
   	<td style="white-space: nowrap">
    <div class="btn-group">
    {% if result.is_consented %}
        {% if result.antenatal_enrollment %}
            {% dashboard_button result %}
        {% else %}
            {% antenatal_enrollment_button result %}
        {% endif %}
    {% endif %}
    </div>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}
    <td>{{ result.screening_identifier }} </td>
    <td nowrap>{% if "085" in result.subject_identifier %}{{ result.subject_identifier }}{% endif %}</td>
    <td nowrap>{{ result.age_in_years }} yrs</td>
    <td nowrap>{{ result.user_created }}</td>
    <td nowrap>{{ result.object.modified|date:"SHORT_DATETIME_FORMAT" }}</td>  
    <td nowrap>{{ result.hostname_created }}</td>

{% endblock listboard_table_columns %}